In [35]:
import pandas as pd

# Load the dataset
file_path_1 = '/Users/martyna/dev/iron hack/labs/project-1-ironhack-payments-2-en/project_dataset/extract - fees - data analyst - .csv'
file_path_2 = '/Users/martyna/dev/iron hack/labs/project-1-ironhack-payments-2-en/project_dataset/extract - cash request - data analyst.csv'
df_fees = pd.read_csv(file_path_1)
df_cash = pd.read_csv(file_path_2)

In [3]:
df_fees

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21056,12372,20262.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 20262,2020-10-10 06:42:22.822743+00,2020-10-13 14:25:04.18049+00,2020-11-17 05:14:00.080854+00,NaN,NaN,after
21057,20768,26764.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 26764,2020-10-31 15:24:18.680694+00,2020-10-31 15:24:18.680715+00,2020-12-16 07:10:54.697639+00,NaN,NaN,after
21058,18779,25331.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 25331,2020-10-27 17:28:51.749177+00,2020-10-27 17:28:51.7492+00,2020-11-18 04:35:42.915511+00,NaN,NaN,after
21059,16542,23628.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 23628,2020-10-23 16:27:52.047457+00,2020-10-23 16:27:52.047486+00,2020-12-18 05:18:01.465317+00,NaN,NaN,after
21060,13301,20982.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20982,2020-10-14 07:12:43.958192+00,2020-10-14 07:12:43.958219+00,2021-02-12 13:02:46.95022+00,NaN,NaN,after

In [9]:
df_cash

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN

In [20]:
df_cash.describe()

                 id        amount        user_id  deleted_account_id
count  23970.000000  23970.000000   21867.000000         2104.000000
mean   13910.966124     82.720818   32581.250789         9658.755228
std     7788.117214     26.528065   27618.565773         7972.743249
min        3.000000      1.000000      34.000000           91.000000
25%     7427.250000     50.000000   10804.000000         3767.000000
50%    14270.500000    100.000000   23773.000000         6121.500000
75%    20607.750000    100.000000   46965.000000        16345.000000
max    27010.000000    200.000000  103719.000000        30445.000000

In [ ]:
#checking for missing values
df_fees.isna().sum()

id                     0
cash_request_id        4
type                   0
status                 0
category           18865
total_amount           0
reason                 0
created_at             0
updated_at             0
paid_at             5530
from_date          13295
to_date            13295
charge_moment          0
dtype: int64

In [ ]:
#counting occurences per user_id, desc
df_cash["user_id"].value_counts()

user_id
3377.0     19
2142.0     18
13851.0    18
2530.0     17
1159.0     17
           ..
4938.0      1
79289.0     1
74036.0     1
57112.0     1
64517.0     1
Name: count, Length: 10798, dtype: int64

In [ ]:
#counting occurences per user_id, desc, only when status ='money_back'
df_cash[df_cash["status"] == "money_back"]["user_id"].value_counts()

user_id
526.0      11
274.0      11
1946.0     11
1381.0     10
1795.0     10
           ..
99970.0     1
71176.0     1
88313.0     1
47219.0     1
64517.0     1
Name: count, Length: 8987, dtype: int64

In [ ]:
#unique statuses in df_cash
df_cash["status"].unique()

array(['rejected', 'money_back', 'canceled', 'active',
       'direct_debit_rejected', 'transaction_declined',
       'direct_debit_sent'], dtype=object)

In [19]:
df_cash["status"].value_counts()

status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

In [36]:
df_cash[df_cash["user_id"] == 526]

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
5822,614,50.0,money_back,2020-02-05 17:54:50.727851+00,2020-11-04 12:55:52.077349+00,526.0,2020-02-06 12:48:34.924114+00,NaN,2020-02-27 23:00:00+00,2020-02-08,NaN,regular,NaN,NaN,NaN,NaN
6528,15856,100.0,rejected,2020-09-12 12:32:13.702831+00,2020-09-12 13:27:48.951081+00,526.0,2020-09-12 13:27:48.9436+00,NaN,2020-10-11 22:00:00+00,NaN,NaN,regular,2020-09-19 12:32:13.655335+00,NaN,NaN,NaN
6573,16070,100.0,money_back,2020-09-14 13:13:07.2519+00,2020-12-18 13:08:32.308293+00,526.0,2020-09-14 16:58:51.617615+00,NaN,2020-10-13 22:00:00+00,2020-09-15,2020-10-06 14:50:29.607596+00,instant,2020-09-21 13:13:07.199086+00,NaN,NaN,NaN
6631,15995,100.0,rejected,2020-09-13 22:54:23.288454+00,2020-09-14 08:15:43.546334+00,526.0,2020-09-14 08:15:43.538259+00,NaN,2020-10-11 22:00:00+00,NaN,NaN,regular,2020-09-20 22:54:23.242551+00,NaN,NaN,NaN
6654,16025,100.0,rejected,2020-09-14 09:09:50.959096+00,2020-09-14 12:08:25.565746+00,526.0,2020-09-14 12:08:25.557827+00,NaN,2020-10-10 22:00:00+00,NaN,NaN,instant,2020-09-21 09:09:50.912281+00,NaN,NaN,NaN
7869,824,60.0,money_back,2020-03-08 14:01:05.14633+00,2020-11-04 12:55:09.437942+00,526.0,2020-03-08 14:57:10.702615+00,NaN,2020-03-15 23:00:00+00,2020-03-10,2020-03-24 23:40:44.989026+00,regular,NaN,NaN,NaN,NaN
7971,131,90.0,money_back,2019-12-12 20:59:48.763947+00,2020-11-04 12:55:29.446096+00,526.0,2019-12-13 16:32:34.692499+00,NaN,2019-12-26 23:00:00+00,2019-12-16,NaN,regular,NaN,NaN,NaN,NaN
8373,20625,90.0,transaction_declined,2020-10-12 14:23:15.276958+00,2020-10-12 15:23:46.004625+00,526.0,2020-10-12 15:22:44.665209+00,NaN,2020-10-29 22:00:00+00,NaN,NaN,instant,2020-10-12 14:23:25.076292+00,NaN,NaN,NaN
9165,1348,80.0,money_back,2020-04-23 18:54:05.810157+00,2020-11-04 12:55:14.500931+00,526.0,2020-04-24 08:41:52.485739+00,NaN,2020-05-10 22:00:00+00,2020-04-27,2020-05-22 13:48:12.264575+00,regular,NaN,completed,2020-05-19 20:06:12.122985+00,2020-05-22 13:48:12.269823+00
9194,985,90.0,money_back,2020-03-25 02:27:41.780578+00,2020-11-04 12:55:26.078693+00,526.0,2020-03-25 11:00:18.003849+00,NaN,2020-04-13 22:00:00+00,2020-03-27,2020-04-22 20:50:54.156698+00,regular,NaN,NaN,NaN,NaN
9533,3478,80.0,money_back,2020-06-16 12:38:38.140763+00,2020-12-18 13:08:39.821775+00,526.0,2020-06-16 13:26:21.815821+00,NaN,2020-06-28 22:00:00+00,2020-06-18,2020-06-30 08:46:35.936146+00,regular,NaN,NaN,NaN,NaN
12476,7250,90.0,money_back,2020-07-08 22:46:36.854214+00,2020-12-18 13:09:26.651874+00,526.0,2020-07-09 08:56:37.50966+00,NaN,2020-07-29 22:00:00+00,2020-07-10,2020-08-11 22:00:00+00,regular,NaN,NaN,NaN,NaN
14483,12484,90.0,money_back,2020-08-14 12:28:42.222162+00,2020-12-18 13:10:12.145947+00,526.0,2020-08-14 13:05:51.517542+00,NaN,2020-08-28 22:00:00+00,2020-08-18,2020-09-08 22:00:00+00,instant,2020-08-21 12:28:42.16436+00,NaN,NaN,NaN
21451,20665,90.0,money_back,2020-10-12 17:22:01.397186+00,2020-12-18 13:12:56.300378+00,526.0,2020-10-13 07:45:01.30784+00,NaN,2020-11-10 23:00:00+00,2020-10-14,2020-10-28 23:26:53.980888+00,instant,2020-10-12 17:22:11.663771+00,NaN,NaN,NaN
21620,26720,100.0,money_back,2020-10-31 12:46:40.831215+00,2020-12-18 13:13:00.79916+00,526.0,2020-10-31 14:59:13.307943+00,NaN,2020-11-27 23:51:00+00,2020-11-01,2020-11-28 19:41:04.352886+00,instant,2020-10-31 12:46:50.373681+00,NaN,NaN,NaN

In [33]:
#saving CR ids for the testing, based on one high volume user
check_cr = df_cash[df_cash["user_id"] == 526]["id"]

In [34]:
check_cr

5822       614
6528     15856
6573     16070
6631     15995
6654     16025
7869       824
7971       131
8373     20625
9165      1348
9194       985
9533      3478
12476     7250
14483    12484
21451    20665
21620    26720
Name: id, dtype: int64

In [25]:
type(check_cr)

pandas.core.series.Series

In [ ]:
#checking which fees correspond to CRs from customer 526
df_fees[df_fees['id'].isin(check_cr)]

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
1293,131,2561.0,postpone,accepted,NaN,5.0,Postpone Cash Request 2561,2020-06-10 11:28:45.140855+00,2020-10-13 14:25:00.919169+00,NaN,2020-06-26 22:00:00+00,2020-07-26 22:00:00+00,before
1710,824,5600.0,postpone,accepted,NaN,5.0,Postpone Cash Request 5600,2020-06-30 09:01:04.027388+00,2020-10-13 14:25:01.686667+00,2020-06-30 09:01:09.735311+00,2020-07-05 22:00:00+00,2020-08-05 09:00:55.507+00,before
2009,1348,7193.0,postpone,accepted,NaN,5.0,Postpone Cash Request 7193,2020-07-13 22:44:41.852192+00,2020-10-13 14:25:02.330403+00,2020-07-13 22:44:46.607521+00,2020-08-01 22:00:00+00,2020-08-16 22:00:00+00,before
4624,12484,20363.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20363,2020-10-10 16:16:42.857439+00,2020-10-13 14:25:18.500579+00,2020-10-30 19:37:01.21055+00,NaN,NaN,after
4828,7250,15705.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 15705,2020-09-11 13:13:45.714619+00,2020-10-13 14:25:10.466823+00,2020-10-24 20:14:02.420784+00,NaN,NaN,after
5016,15995,23113.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23113,2020-10-22 15:04:19.746969+00,2020-10-22 15:04:19.746991+00,2020-11-01 16:53:30.491815+00,NaN,NaN,after
5106,20625,24848.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 24848,2020-10-31 10:16:37.540778+00,2020-10-31 10:16:37.5408+00,NaN,2020-11-06 22:00:00+00,2020-11-09 11:00:00+00,before
5877,16025,23148.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23148,2020-10-22 16:45:46.248583+00,2020-10-22 16:45:46.24861+00,2020-11-03 02:42:37.841015+00,NaN,NaN,after
6263,20665,19201.0,postpone,accepted,NaN,5.0,Postpone Cash Request 19201,2020-10-31 11:20:13.281152+00,2020-10-31 11:20:17.229059+00,2020-10-31 11:20:17.299679+00,2020-11-02 23:51:00+00,2020-11-30 11:00:00+00,before
7189,16070,23196.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23196,2020-10-22 19:05:06.111583+00,2020-10-22 19:05:06.111607+00,2020-11-03 19:51:56.97654+00,NaN,NaN,after
16302,614,4956.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 4956,2020-06-25 08:26:50.133948+00,2020-10-13 14:25:15.778898+00,NaN,2020-07-04 22:00:00+00,2020-07-20 08:26:46.575+00,after
16493,985,1746.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 1746,2020-07-03 13:28:26.684352+00,2020-10-13 14:25:16.048308+00,NaN,2020-07-06 22:00:00+00,2020-08-05 22:00:00+00,after
17246,15856,22987.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 22987,2020-10-22 09:14:11.185431+00,2020-10-22 09:14:11.185453+00,2020-11-04 12:22:55.028453+00,NaN,NaN,after
20668,3478,8476.0,incident,rejected,rejected_direct_debit,5.0,rejected direct debit,2020-08-11 22:30:10.608394+00,2020-10-13 14:25:02.321873+00,2020-12-08 17:15:25.809628+00,NaN,NaN,after

In [36]:
#checking how many CR ids from fees match with CR file
df_fees[df_fees['cash_request_id'].isin(df_cash['id'])]

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21056,12372,20262.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 20262,2020-10-10 06:42:22.822743+00,2020-10-13 14:25:04.18049+00,2020-11-17 05:14:00.080854+00,NaN,NaN,after
21057,20768,26764.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 26764,2020-10-31 15:24:18.680694+00,2020-10-31 15:24:18.680715+00,2020-12-16 07:10:54.697639+00,NaN,NaN,after
21058,18779,25331.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 25331,2020-10-27 17:28:51.749177+00,2020-10-27 17:28:51.7492+00,2020-11-18 04:35:42.915511+00,NaN,NaN,after
21059,16542,23628.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 23628,2020-10-23 16:27:52.047457+00,2020-10-23 16:27:52.047486+00,2020-12-18 05:18:01.465317+00,NaN,NaN,after
21060,13301,20982.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20982,2020-10-14 07:12:43.958192+00,2020-10-14 07:12:43.958219+00,2021-02-12 13:02:46.95022+00,NaN,NaN,after

In [29]:
df_fees.describe()

                 id  cash_request_id  total_amount
count  21061.000000     21057.000000  21061.000000
mean   10645.355111     16318.449162      5.000237
std     6099.315256      6656.149949      0.034453
min        1.000000      1456.000000      5.000000
25%     5385.000000     11745.000000      5.000000
50%    10652.000000     17160.000000      5.000000
75%    15925.000000     21796.000000      5.000000
max    21193.000000     27010.000000     10.000000

In [46]:
df_cash.describe()

                 id        amount        user_id  deleted_account_id
count  23970.000000  23970.000000   21867.000000         2104.000000
mean   13910.966124     82.720818   32581.250789         9658.755228
std     7788.117214     26.528065   27618.565773         7972.743249
min        3.000000      1.000000      34.000000           91.000000
25%     7427.250000     50.000000   10804.000000         3767.000000
50%    14270.500000    100.000000   23773.000000         6121.500000
75%    20607.750000    100.000000   46965.000000        16345.000000
max    27010.000000    200.000000  103719.000000        30445.000000

In [37]:
#checking how many CR ids from fees don't match with CR file
# 2628 rows are missing 
df_fees[~df_fees['cash_request_id'].isin(df_cash['id'])]

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
1911,2990,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11164,2020-08-06 22:42:34.525373+00,2020-11-04 16:01:17.296048+00,NaN,NaN,NaN,after
1960,3124,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11444,2020-08-08 06:33:06.244651+00,2020-11-04 16:01:08.332978+00,NaN,NaN,NaN,after
4605,5185,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11788,2020-08-26 09:39:37.362933+00,2020-11-04 16:01:36.492576+00,NaN,NaN,NaN,after
11870,3590,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 12212,2020-08-12 14:20:06.657075+00,2020-11-04 16:01:53.106416+00,NaN,NaN,NaN,after

In [38]:
#checking how many CR ids from CR match with fees
df_cash[df_cash['id'].isin(df_fees['cash_request_id'])]

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
48,23534,25.0,money_back,2020-10-23 15:20:26.163927+00,2020-12-18 13:08:29.099365+00,21465.0,NaN,NaN,2020-11-10 23:51:00+00,NaN,2020-11-06 07:16:21.845479+00,instant,2020-10-23 15:21:26.878525+00,NaN,NaN,NaN
88,2203,100.0,money_back,2020-05-27 02:26:27.61519+00,2020-06-09 11:25:51.72636+00,2109.0,2020-05-27 10:02:13.094467+00,NaN,2020-07-15 02:26:27+00,2020-05-29,2020-07-15 22:00:00+00,regular,NaN,NaN,NaN,NaN
141,6098,100.0,active,2020-07-01 09:30:03.14541+00,2020-08-11 22:27:58.240406+00,23328.0,2020-07-01 16:44:53.070844+00,NaN,2020-08-03 22:00:00+00,2020-07-03,NaN,regular,NaN,pending,2020-08-11 22:27:55.367849+00,2020-08-11 22:27:58.255621+00
143,3611,100.0,direct_debit_rejected,2020-06-17 11:03:32.61712+00,2020-07-21 22:09:32.695508+00,15415.0,2020-06-17 14:52:56.14175+00,NaN,2020-07-17 11:03:52.469+00,2020-06-18,NaN,regular,NaN,pending,2020-07-21 22:09:32.578876+00,2020-07-21 22:09:35.337684+00
161,20639,50.0,money_back,2020-10-12 16:05:27.478409+00,2020-12-18 13:12:06.313275+00,NaN,NaN,30317.0,2020-10-30 23:00:00+00,2020-10-16,2020-10-31 18:58:22.24451+00,instant,2020-10-15 06:29:31.161555+00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN

In [39]:
#checking how many CR ids from CR don't match with fees
df_cash[~df_cash['id'].isin(df_fees['cash_request_id'])]

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23876,26400,100.0,money_back,2020-10-30 14:38:34.863026+00,2020-12-18 13:16:47.131654+00,15250.0,NaN,NaN,2020-12-12 11:00:00+00,2020-11-10,2020-12-15 23:00:00+00,regular,2020-11-06 14:38:34.858839+00,NaN,NaN,NaN
23882,26141,50.0,money_back,2020-10-29 15:30:51.171923+00,2020-12-18 13:16:48.844728+00,95522.0,NaN,NaN,2020-11-13 15:30:41.634+00,2020-11-09,2020-12-13 23:00:00+00,regular,2020-11-05 15:30:51.16783+00,NaN,NaN,NaN
23889,21841,50.0,money_back,2020-10-17 17:00:51.815205+00,2020-12-18 13:16:50.82965+00,67179.0,NaN,NaN,2020-11-20 23:00:00+00,2020-10-27,2020-12-16 16:00:55.166514+00,regular,2020-10-24 17:00:51.811606+00,completed,2020-11-28 22:16:51.054101+00,2020-12-16 16:00:55.170339+00
23897,4800,100.0,money_back,2020-06-23 11:54:07.112716+00,2020-12-18 13:08:50.862394+00,NaN,2020-06-23 14:00:14.720078+00,27563.0,2020-07-03 22:00:00+00,2020-06-26,2020-07-07 15:47:04.480777+00,regular,NaN,NaN,NaN,NaN
23955,6969,100.0,money_back,2020-07-07 18:11:10.840836+00,2020-12-18 13:09:33.691723+00,17349.0,2020-07-08 13:41:21.995142+00,NaN,2020-08-03 22:00:00+00,2020-07-10,2020-08-04 22:00:00+00,regular,NaN,NaN,NaN,NaN

In [37]:
df_cash.describe()

                 id        amount        user_id  deleted_account_id
count  23970.000000  23970.000000   21867.000000         2104.000000
mean   13910.966124     82.720818   32581.250789         9658.755228
std     7788.117214     26.528065   27618.565773         7972.743249
min        3.000000      1.000000      34.000000           91.000000
25%     7427.250000     50.000000   10804.000000         3767.000000
50%    14270.500000    100.000000   23773.000000         6121.500000
75%    20607.750000    100.000000   46965.000000        16345.000000
max    27010.000000    200.000000  103719.000000        30445.000000

In [ ]:
#merge attempt, didn't do what it's supposed to, because there are multiple fees per CR
#df_merged = df_cash.merge(df_fees, how ='left', left_on = ('id'),right_on= ('cash_request_id'))

In [ ]:
#checking for CR id duplicates in fees file 
df_fees["cash_request_id"].value_counts()

cash_request_id
12225.0    35
5006.0     28
4410.0     24
12452.0    23
11376.0    21
           ..
24822.0     1
26203.0     1
22956.0     1
23207.0     1
25331.0     1
Name: count, Length: 12933, dtype: int64

In [ ]:
#checking for statuses in fees
df_fees["status"].value_counts()

status
accepted     14841
cancelled     4938
rejected      1194
confirmed       88
Name: count, dtype: int64

In [ ]:
#total fees by CR request df, to join later to calculate rcohort revenue
df_fees_agg_revenue = df_fees[df_fees["status"] == 'accepted'].groupby("cash_request_id")["total_amount"].sum()

In [33]:
df_fees_agg_revenue

cash_request_id
1518.0      5.0
1554.0     10.0
1556.0      5.0
1566.0      5.0
1625.0      5.0
           ...
27004.0     5.0
27006.0     5.0
27007.0     5.0
27009.0     5.0
27010.0     5.0
Name: total_amount, Length: 11846, dtype: float64

In [ ]:
#syntax to drop column
#df_cash.drop(columns = ["activity_month"],inplace=True)

In [ ]:
#creating a column with YYY-MM for activity month
df_cash["activity_month"] = df_cash["created_at"].str[:7] + "-01"

In [57]:
df_cash.head()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,activity_month,cohort_month,cohort_index
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,2019-12-01,2019-12-01,0
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,2019-12-01,2019-12-01,0
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,2019-12-01,2019-12-01,0
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,2019-12-01,2019-12-01,0
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,2020-05-01,2020-05-01,0

In [53]:

#changing dtype to datetime64
df_cash["activity_month"] = df_cash["activity_month"].astype("datetime64[s]")

In [54]:
#cohort_month -> the min from activity_month

df_cash["cohort_month"] = df_cash["user_id"].map(df_cash.groupby("user_id")["activity_month"].min())

In [56]:
#adding new column with cohort index
df_cash["cohort_index"] = (df_cash["activity_month"].dt.to_period("M").astype(int) - df_cash["cohort_month"].dt.to_period("M").astype(int))

In [58]:
df_cash[df_cash["user_id"] == 526]

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,activity_month,cohort_month,cohort_index
5822,614,50.0,money_back,2020-02-05 17:54:50.727851+00,2020-11-04 12:55:52.077349+00,526.0,2020-02-06 12:48:34.924114+00,NaN,2020-02-27 23:00:00+00,2020-02-08,NaN,regular,NaN,NaN,NaN,NaN,2020-02-01,2019-12-01,2
6528,15856,100.0,rejected,2020-09-12 12:32:13.702831+00,2020-09-12 13:27:48.951081+00,526.0,2020-09-12 13:27:48.9436+00,NaN,2020-10-11 22:00:00+00,NaN,NaN,regular,2020-09-19 12:32:13.655335+00,NaN,NaN,NaN,2020-09-01,2019-12-01,9
6573,16070,100.0,money_back,2020-09-14 13:13:07.2519+00,2020-12-18 13:08:32.308293+00,526.0,2020-09-14 16:58:51.617615+00,NaN,2020-10-13 22:00:00+00,2020-09-15,2020-10-06 14:50:29.607596+00,instant,2020-09-21 13:13:07.199086+00,NaN,NaN,NaN,2020-09-01,2019-12-01,9
6631,15995,100.0,rejected,2020-09-13 22:54:23.288454+00,2020-09-14 08:15:43.546334+00,526.0,2020-09-14 08:15:43.538259+00,NaN,2020-10-11 22:00:00+00,NaN,NaN,regular,2020-09-20 22:54:23.242551+00,NaN,NaN,NaN,2020-09-01,2019-12-01,9
6654,16025,100.0,rejected,2020-09-14 09:09:50.959096+00,2020-09-14 12:08:25.565746+00,526.0,2020-09-14 12:08:25.557827+00,NaN,2020-10-10 22:00:00+00,NaN,NaN,instant,2020-09-21 09:09:50.912281+00,NaN,NaN,NaN,2020-09-01,2019-12-01,9
7869,824,60.0,money_back,2020-03-08 14:01:05.14633+00,2020-11-04 12:55:09.437942+00,526.0,2020-03-08 14:57:10.702615+00,NaN,2020-03-15 23:00:00+00,2020-03-10,2020-03-24 23:40:44.989026+00,regular,NaN,NaN,NaN,NaN,2020-03-01,2019-12-01,3
7971,131,90.0,money_back,2019-12-12 20:59:48.763947+00,2020-11-04 12:55:29.446096+00,526.0,2019-12-13 16:32:34.692499+00,NaN,2019-12-26 23:00:00+00,2019-12-16,NaN,regular,NaN,NaN,NaN,NaN,2019-12-01,2019-12-01,0
8373,20625,90.0,transaction_declined,2020-10-12 14:23:15.276958+00,2020-10-12 15:23:46.004625+00,526.0,2020-10-12 15:22:44.665209+00,NaN,2020-10-29 22:00:00+00,NaN,NaN,instant,2020-10-12 14:23:25.076292+00,NaN,NaN,NaN,2020-10-01,2019-12-01,10
9165,1348,80.0,money_back,2020-04-23 18:54:05.810157+00,2020-11-04 12:55:14.500931+00,526.0,2020-04-24 08:41:52.485739+00,NaN,2020-05-10 22:00:00+00,2020-04-27,2020-05-22 13:48:12.264575+00,regular,NaN,completed,2020-05-19 20:06:12.122985+00,2020-05-22 13:48:12.269823+00,2020-04-01,2019-12-01,4
9194,985,90.0,money_back,2020-03-25 02:27:41.780578+00,2020-11-04 12:55:26.078693+00,526.0,2020-03-25 11:00:18.003849+00,NaN,2020-04-13 22:00:00+00,2020-03-27,2020-04-22 20:50:54.156698+00,regular,NaN,NaN,NaN,NaN,2020-03-01,2019-12-01,3
9533,3478,80.0,money_back,2020-06-16 12:38:38.140763+00,2020-12-18 13:08:39.821775+00,526.0,2020-06-16 13:26:21.815821+00,NaN,2020-06-28 22:00:00+00,2020-06-18,2020-06-30 08:46:35.936146+00,regular,NaN,NaN,NaN,NaN,2020-06-01,2019-12-01,6
12476,7250,90.0,money_back,2020-07-08 22:46:36.854214+00,2020-12-18 13:09:26.651874+00,526.0,2020-07-09 08:56:37.50966+00,NaN,2020-07-29 22:00:00+00,2020-07-10,2020-08-11 22:00:00+00,regular,NaN,NaN,NaN,NaN,2020-07-01,2019-12-01,7
14483,12484,90.0,money_back,2020-08-14 12:28:42.222162+00,2020-12-18 13:10:12.145947+00,526.0,2020-08-14 13:05:51.517542+00,NaN,2020-08-28 22:00:00+00,2020-08-18,2020-09-08 22:00:00+00,instant,2020-08-21 12:28:42.16436+00,NaN,NaN,NaN,2020-08-01,2019-12-01,8
21451,20665,90.0,money_back,2020-10-12 17:22:01.397186+00,2020-12-18 13:12:56.300378+00,526.0,2020-10-13 07:45:01.30784+00,NaN,2020-11-10 23:00:00+00,2020-10-14,2020-10-28 23:26:53.980888+00,instant,2020-10-12 17:22:11.663771+00,NaN,NaN,NaN,2020-10-01,2019-12-01,10
21620,26720,100.0,money_back,2020-10-31 12:46:40.831215+00,2020-12-18 13:13:00.79916+00,526.0,2020-10-31 14:59:13.307943+00,NaN,2020-11-27 23:51:00+00,2020-11-01,2020-11-28 19:41:04.352886+00,instant,2020-10-31 12:46:50.373681+00,NaN,NaN,NaN,2020-10-01,2019-12-01,10